<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Details</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel = "stylesheet" href = "/stylesheets/ingredientStyle.css">
</head>
<body class = "purple lighten-5">
    <div class = "container left-align">
        <h1 class = "left-align">Ingredient Details:</h1>

        <div class = "row valign-wrapper">
            <div class = "col s6 left-align">
                <a class = "btn waves-effect waves-light purple darken-1" href = "/inventory">
                    <i class = "material-icons left">arrow_back</i>
                    Return to Inventory!
                </a>
            </div>

            <div class = "col s6 right-align">
                <a class = "btn waves-effect waves-light purple darken-3" href = <%= "/inventory/ingredient/" + data.ingredient.id + "/delete"%>>
                    <i class = "material-icons right">delete</i>
                    Delete!
                </a>
            </div>
        </div>

        <h2></h2>

        <table class = "centered">
            <thead>
                <tr>
                    <th>Ingredient:</th>
                    <th>Current Quantity:</th>
                    <th>Quantity to Purchase:</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td> <%= data.ingredient.item %> </td>
                    <td class = "purple lighten-4"> <%= data.ingredient.quantity %> </td>
                    <td> <%= data.ingredient.purchaseQuantity %> </td>

                    <td>
                        <a class = "btn-small waves-effect waves-light purple lighten-1 modal-trigger" href = "#generalEdit">
                            <i class = "material-icons right">edit</i>
                            Edit
                        </a>
                    </td>
                </tr>
        </table>

        <table>
            <tr>
                <th>Description:</th>
                <td> <%= data.ingredient.description %> </td>
            </tr>
        </table>

        <h2></h2>

        <table class = "highlight centered">
            <thead>
                <tr>
                    <th>Expiration Date:</th>
                    <th>Brand:</th>
                    <th>Price:</th>
                </tr>
            </thead>

            <tbody>
                <% for (let i = 0; i < data.stock.length; i++) { %>
                <tr>
                    <td><%= data.stock[i].expiration_date %></td>
                    <td><%= data.stock[i].brand_name %></td>
                    <td><%= data.stock[i].price %></td>

                    <td>
                        <a class = "btn-small waves-effect waves-light purple lighten-1 modal-trigger" href = "#stuffEdit">
                            <i class = "material-icons right">edit</i>
                            Edit
                        </a>
                        <a class = "btn-small waves-effect waves-light purple darken-2" href = <%= "/inventory/ingredient/" + data.ingredient.id + "/stock/" + data.stock[i].id + "/delete"%>>
                            <i class = "material-icons right">delete</i>
                            DELETE
                        </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class = "container">
        <h2 class = "left-align">Restock Ingredients!</h2>
        <form method = "post" action = "/inventory/ingredient/<%=data.ingredient.id%>/stock">
            <div class = "row valign-wrapper">
                <div class = "input-field col s3">
                    <label for = "expirationInput">Expiration Date:</label>
                    <input type = "text" name = "expiration" id = "expirationInput" class = "validate" required>
                </div>

                <div class = "input-field col s3">
                    <label for = "brandInput">Brand Name:</label>
                    <input type = "text" name = "brand" id = "brandInput" class = "validate" data-length = "32" required>
                </div>

                <div class = "input-field col s3">
                    <label for = "priceInput">Price:</label>
                    <input type = "number" step = "0.01" name = "price" id = "priceInput" required>
                </div>

                <div class = "valign-wrapper col s3">
                    <button class = "btn waves-effect waves-light purple darken-1" type = "submit">
                        <i class = "material-icons right">send</i>
                        Submit!
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class = "modal" id = "generalEdit">
        <div class = "modal-content">

            <h2>Edit Ingredient:</h2>
            <form method = "post" action = "/inventory/ingredient/<%=data.ingredient.id%>">
                <div class = "row">
                    <div class = "input-field col s4">
                        <label for = "nameInput">Ingredient Name:</label>
                        <input type = "text" name = "name" id = "nameInput" class = "validate" data-length = "32" value = "<%=data.ingredient.item%>" required>
                    </div>
    
                    <div class = "input-field col s4">
                        <label for = "currentQuantityInput">Current Quantity:</label>
                        <input type = "number" name = "currentQuantity" id = "currentQuantityInput" value = "<%= data.ingredient.quantity %>" required>
                    </div>
    
                    <div class = "input-field col s4">
                        <label for = "purchaseQuantityInput">Quantity to Purchase:</label>
                        <input type = "number" name = "purchaseQuantity" id = "purchaseQuantityInput" value = "<%= data.ingredient.purchaseQuantity %>" required>
                    </div>    
                </div>
                <div class = "row">
                    <div class = "input-field col s12">
                        <label for = "descInput">Description:</label>
                        <input type = "text" name = "description" id = "descInput" class = "validate" data-length = "100" value = "<%= data.ingredient.description %>" required>
                    </div>
                </div>

                <div class = "modal-footer">
                    <button class = "modal-close waves-effect btn-flat">Never Mind!</button>
                    <button class = "btn waves-effect waves-light purple darken-1" type = "submit">
                        <i class = "material-icons right">send</i>
                        Submit!
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class = "modal" id = "stuffEdit">
        <div class = "modal-content">

            <h2>Edit Stock Unit:</h2>                       <!-- yikes this is undefined -->
            <form method = "post" action = "/inventory/ingredient/stock/<%=data.stock.id%>">
                <div class = "row">
                    <div class = "input-field col s4">
                        <label for = "newExpirationInput">Expiration Date:</label>
                        <input type = "text" name = "expiration" id = "newExpirationInput" class = "validate" required>
                    </div>
    
                    <div class = "input-field col s4">
                        <label for = "brandInput">Brand Name:</label>
                        <input type = "text" name = "brand" id = "brandInput" class = "validate" data-length = "32" required>
                    </div>
    
                    <div class = "input-field col s4">
                        <label for = "priceInput">Price:</label>
                        <input type = "number" step = "0.01" name = "price" id = "priceInput" required>
                    </div>
                </div>

                <div class = "modal-footer">
                    <button class = "modal-close waves-effect btn-flat">Never Mind!</button>
                    <button class = "btn waves-effect waves-light purple darken-1" type = "submit">
                        <i class = "material-icons right">send</i>
                        Submit!
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
    <script> 
        M.AutoInit();

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
        });
    </script>
</body>
</html>