<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Inventory</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel = "stylesheet" href = "/stylesheets/inventoryStyle.css">

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">
</head>
<body class = "purple lighten-5">
    <div class = "container left-align">
        <h1 class = "left-align">Ingredients:</h1>
        <table class = "highlight centered">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Current Quantity:</th>
                    <th>Quantity to Purchase:</th>
                </tr>
            </thead>

            <tbody>
                <% for (let i = 0; i < ingredient.length; i++) { %>
                    <tr>
                        <td><%= ingredient[i].item %></td>
                        <td><%= ingredient[i].quantity %></td>
                        <td><%= ingredient[i].purchaseQuantity %></td>

                        <td>
                            <a class = "btn-small waves-effect waves-light purple lighten-1" href = <%= "/inventory/ingredient/" + ingredient[i].id %>>
                                <i class = "material-icons right">edit</i>
                                More Info / Edit
                            </a>
                            <a class = "btn-small waves-effect waves-light purple darken-2" href = <%= "/inventory/ingredient/" + ingredient[i].id + "/delete"%>>
                                <i class = "material-icons right">delete</i>
                                DELETE
                            </a>
                        </td>

                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class = "container">
        <h2 class = "left-align">Add New Ingredients!</h2>
        <form>
            <div class = "row valign-wrapper">
                <div class = "input-field col s3">
                    <label for = "nameInput">Ingredient Name:</label>
                    <input type = "text" name = "name" id = "nameInput" class = "validate" data-length = "32" required>
                </div>

                <div class = "input-field col s3">
                    <label for = "currentQuantityInput">Current Quantity:</label>
                    <input type = "number" name = "currentQuantity" id = "currentQuantityInput" required>
                </div>

                <div class = "input-field col s3">
                    <label for = "purchaseQuantityInput">Quantity to Purchase:</label>
                    <input type = "number" name = "purchaseQuantity" id = "purchaseQuantityInput" required>
                </div>

                <div class = "col s3">
                    <a class = "btn waves-effect waves-light purple darken-1" type = "submit">
                        <i class = "material-icons right">send</i>
                        Submit!
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>