<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Inventory</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/javascripts/materialize.min.js"></script>
    <!-- initialize Materialize elements -->
    <script src="/javascripts/ingredientJS.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel = "stylesheet" href = "/stylesheets/inventoryStyle.css">
</head>
<body class = "purple lighten-5">
    <!-- Nav Bar -->
    <header>
        <nav>
            <div class="nav-wrapper purple lighten-3">
                <a href="/" class="brand-logo">Ingredient Manager</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/inventory"><i class="material-icons left">list</i>Inventory</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="waves-effect waves-light btn purple accent-4">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="waves-effect waves-light btn purple accent-3">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
             <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
             <li><a href="/inventory"><i class="material-icons left">list</i>Inventory</a></li>
             <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="waves-effect waves-light btn purple accent-4">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="waves-effect waves-light btn purple accent-3">Login</a></li>
            <% } %>
        </ul>
    </header>

    <!-- Rest of the Body -->
    <div class = "container left-align">
        <h1 class = "left-align">Ingredients:</h1>
        <table class = "highlight centered">
            <thead>
                <tr>
                    <th>Name:</th>
                    <th>Current Quantity:</th>
                    <th>Quantity to Purchase:</th>
                </tr>
            </thead>

            <tbody>
                <% for (let i = 0; i < ingredient.length; i++) { %>
                    <tr>
                        <td><%= ingredient[i].item %></td>
                        <td class = "purple lighten-4"><%= ingredient[i].quantity %></td>
                        <td><%= ingredient[i].purchaseQuantity %></td>

                        <td>
                            <a class = "btn-small waves-effect waves-light purple lighten-1" href = <%= "/inventory/ingredient/" + ingredient[i].id %>>
                                <i class = "material-icons right">info</i>
                                More Info
                            </a>
                            <a class = "btn-small waves-effect waves-light purple darken-2" href = <%= "/inventory/ingredient/" + ingredient[i].id + "/delete"%>>
                                <i class = "material-icons right">delete</i>
                                DELETE
                            </a>
                        </td>

                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class = "container">
        <h2 class = "left-align">Add New Ingredients!</h2>
        <form method = "post" action = "/inventory">
            <div class = "row valign-wrapper">
                <div class = "input-field col s3">
                    <label for = "nameInput">Ingredient Name:</label>
                    <input type = "text" name = "name" id = "nameInput" class = "validate" data-length = "32" required>
                </div>

                <div class = "input-field col s3">
                    <label for = "currentQuantityInput">Current Quantity:</label>
                    <input type = "number" name = "currentQuantity" id = "currentQuantityInput" required>
                </div>

                <div class = "input-field col s3">
                    <label for = "purchaseQuantityInput">Quantity to Purchase:</label>
                    <input type = "number" name = "purchaseQuantity" id = "purchaseQuantityInput" required>
                </div>

                <div class = "col s3">
                    <button class = "btn waves-effect waves-light purple darken-1" type = "submit">
                        <i class = "material-icons right">send</i>
                        Submit!
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>