<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Inventory</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/javascripts/materialize.min.js"></script>
    <!-- initialize Materialize elements -->
    <script src="/javascripts/ingredientJS.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel = "stylesheet" href = "/stylesheets/inventoryStyle.css">
</head>
<body class = "purple lighten-5">
    <!-- Nav Bar -->
    <header>
        <nav>
            <div class="nav-wrapper purple lighten-3">
                <a href="/" class="brand-logo">Ingredient Manager</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/inventory"><i class="material-icons left">list</i>Inventory</a></li>
                    <% if (isLoggedIn) { %>
                        <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                        <li><a href="/logout" class="waves-effect waves-light btn purple accent-4">Logout</a></li>                        
                    <% } else { %>
                        <li><a href="/login" class="waves-effect waves-light btn purple accent-3">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <ul id="mobile-nav" class="sidenav">
             <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
             <li><a href="/inventory"><i class="material-icons left">list</i>Inventory</a></li>
             <% if (isLoggedIn) { %>
                <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                <li><a href="/logout" class="waves-effect waves-light btn purple accent-4">Logout</a></li>                        
            <% } else { %>
                <li><a href="/login" class="waves-effect waves-light btn purple accent-3">Login</a></li>
            <% } %>
        </ul>
    </header>

    <!-- Rest of the Body -->
    <div class = "container left-align">
        <h1 class = "left-align">Stock Unit Details:</h1>

        <div class = "row valign-wrapper">
            <div class = "col s6 left-align">
                <a class = "btn waves-effect waves-light purple darken-1" href = <%= "/inventory/ingredient/" + data.ingredient.id %>>
                    <i class = "material-icons left">arrow_back</i>
                    Return to <%= data.ingredient.item %>!
                </a>
        </div>

            <div class = "col s6 right-align">
                <a class = "btn waves-effect waves-light purple darken-3" href = <%= "/inventory/ingredient/" + data.ingredient.id + "/stock/" + data.stock.id + "/delete"%>>
                    <i class = "material-icons right">delete</i>
                    Delete!
                </a>
            </div>
        </div>

        <table class = "centered">
            <thead>
                <tr>
                    <th>Expiration Date:</th>
                    <th>Brand:</th>
                    <th>Price:</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class = "purple lighten-4"><%= data.stock.expiration_date %></td>
                    <td><%= data.stock.brand_name %></td>
                    <td><%= data.stock.price %></td>

                    <td>
                        <a class = "btn-small waves-effect waves-light purple lighten-1 modal-trigger" href = "#stockEdit">
                            <i class = "material-icons right">edit</i>
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class = "modal" id = "stockEdit">
        <div class = "modal-content">

            <h2>Edit Stock Unit:</h2>                       
            <form method = "post" action = "/inventory/ingredient/<%= data.ingredient.id %>/stock/<%= data.stock.id %>">
                <div class = "row">
                    <div class = "input-field col s4">
                        <label for = "newExpirationInput">Expiration Date:</label>
                        <input type = "text" name = "expiration" id = "newExpirationInput" class = "validate" value = "<%=data.stock.expiration_date%>" required>
                    </div>
    
                    <div class = "input-field col s4">
                        <label for = "brandInput">Brand Name:</label>
                        <input type = "text" name = "brand" id = "brandInput" class = "validate" data-length = "32" value = "<%=data.stock.brand_name%>" required>
                    </div>
    
                    <div class = "input-field col s4">
                        <label for = "priceInput">Price:</label>
                        <input type = "number" step = "0.01" name = "price" id = "priceInput" value = "<%=data.stock.price%>" required>
                    </div>
                </div>

                <div class = "modal-footer">
                    <button class = "modal-close waves-effect btn-flat">Never Mind!</button>
                    <button class = "btn waves-effect waves-light purple darken-1" type = "submit">
                        <i class = "material-icons right">send</i>
                        Submit!
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>